<section data-aos="fade-up" data-aos-duration="2000" data-aos-ease="ease-in-out"
    class="lg:p-16 text-center sm:text-left sm:block sm:prose-h3:mt-0 lg:prose-mt-0 xl:prose-h3:mt-0 2xl:prose-h3:mt-0 prose-h3:mt-0 prose sm:prose-sm lg:prose-lg xl:prose-xl 2xl:prose-2xl max-w-full">
    <h1 style="margin:0" class="sm:block text-center">Educational Qualifications</h1>
    <div class="container max-w-full sm:px-4 sm:py-12 mx-auto">
        <app-timeline-sub class="relative col-span-12 px-4 space-y-6 sm:col-span-9" [roles]="roles">
        </app-timeline-sub>
    </div>
</section>