<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1>About Me</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p class="mat-body-1">A Dynamic and highly diversified IT Professional responsible for assisting in the establishment of
            an IT Architecture practice, and the adoption of an architecture and standard methodology.</p>
        <p class="mat-body-1">Passionate about designing highly stable and scalable Software Solutions that transcend high performance
            ranging from
            traditional Mobile, Web to IoT Management System.</p>
        <p class="mat-body-1">If you stick till the end, you can have a glimpse of what I'm most proud of, the experience I hold and the
            skills I
            possess (Best of them being, I can center a Div without Googling 😆).</p>
        <p class="mat-body-1">Note: This is just a glimpse, I'm constantly improving and evolving! 👨‍💻</p>
        <div class="resume-button-container">
            <button mat-raised-button color="primary">Download Resume
                <mat-icon>download</mat-icon>
            </button>
        </div>
    </mat-card-content>
</mat-card>