<nav class="bg-black flex flex-1 items-center py-1 sm min-h-[5rem]" data-aos="fade-down" data-aos-duration="2000">
    <div class="flex flex-1 lg:mx-32">
        <label
            class="ml-4 text-white text-4xl font-medium flex items-center font-proximanovasemibold">&lt;/ty&gt;</label>
        <button
            class="flex ml-auto items-center bg-black hover:bg-gray-900 text-white font-medium text-lg py-2 px-4 rounded lg:hidden"
            (click)="showMenu = !showMenu">
            <span class="material-symbols-outlined font-medium">menu</span>
        </button>
        <div class="hidden m-auto lg:flex">
            <ng-container *ngTemplateOutlet="buttons">

            </ng-container>
        </div>
        <div class="hidden lg:flex">
            <ng-container *ngTemplateOutlet="links">

            </ng-container>
        </div>
    </div>
</nav>
<nav class="lg:hidden overflow-hidden bg-black transition-all" [ngStyle]="{'height': !showMenu ? '0px' : '224px'}">
    <ng-container *ngTemplateOutlet="buttons"></ng-container>
    <div class="flex justify-center">
        <ng-container *ngTemplateOutlet="links"></ng-container>
    </div>
</nav>
<ng-template #buttons>
    <button class="btn">
        <a href="#about"><span class="material-symbols-outlined font-medium">account_circle</span>
            &nbsp;About</a>
    </button>
    <button class="btn">
        <a href="#skills"><span class="material-symbols-outlined font-medium">engineering</span>
            &nbsp;Skills</a>
    </button>
    <button class="btn">
        <a href="#experience"> <span class="material-symbols-outlined font-medium">timeline</span>
            &nbsp;Experience</a>
    </button>
    <button class="btn">
        <a href="#education"><span class="material-symbols-outlined font-medium">menu_book</span>
            &nbsp;Education</a>
    </button>
    <button class="btn">
        <a href="../../assets/files/tushar-yadav.pdf"><span class="material-symbols-outlined font-medium">export_notes</span>
            &nbsp;Resume</a>
    </button>
</ng-template>

<ng-template #links>
    <button class="btn">
        <a href="https://twitter.com/Tushki3">
            <mat-icon svgIcon="twitter">
            </mat-icon>
        </a>
    </button>
    <button class="btn">
        <a href="https://linkedin.com/in/tushar-yadav7">
            <mat-icon svgIcon="linkedin">
            </mat-icon>
        </a>
    </button>
    <button class="btn">
        <a href="https://github.com/tyadav7">
            <mat-icon svgIcon="github">
            </mat-icon>
        </a>
    </button>
    <button class="btn">
        <a href="https://leetcode.com/tyadav7/">
            <mat-icon svgIcon="leetcode">
            </mat-icon>
        </a>
    </button>
</ng-template>