<nav class="bg-black flex flex-1 items-center py-1 sm min-h-[5rem]" data-aos="fade-down" data-aos-duration="2000">
    <div class="flex flex-1 lg:mx-32">
        <label class="ml-4 text-white text-4xl font-medium flex items-center font-proximanovasemibold">&lt;/ty&gt;</label>
        <button
            class="flex ml-auto items-center bg-black hover:bg-gray-900 text-white font-medium text-lg py-2 px-4 rounded lg:hidden"
            (click)="showMenu = !showMenu">
            <span class="material-symbols-outlined font-medium">menu</span>
        </button>
        <div class="hidden m-auto lg:flex">
            <ng-container *ngTemplateOutlet="buttons">

            </ng-container>
        </div>
        <div class="hidden lg:flex">
            <ng-container *ngTemplateOutlet="links">

            </ng-container>
        </div>
    </div>
</nav>
<nav class="lg:hidden overflow-hidden bg-black transition-all" [ngStyle]="{'height': !showMenu ? '0px' : '224px'}">
    <ng-container *ngTemplateOutlet="buttons"></ng-container>
    <div class="flex justify-center">
        <ng-container *ngTemplateOutlet="links"></ng-container>
    </div>
</nav>
<ng-template #buttons>
    <button class="btn">
        <span class="material-symbols-outlined font-medium">account_circle</span>
        &nbsp;About
    </button>
    <button class="btn">
        <span class="material-symbols-outlined font-medium">engineering</span>
        &nbsp;Skills
    </button>
    <button class="btn">
        <span class="material-symbols-outlined font-medium">timeline</span>
        &nbsp;Experience
    </button>
    <button class="btn">
        <span class="material-symbols-outlined font-medium">menu_book</span>
        &nbsp;Education
    </button>
</ng-template>

<ng-template #links>
    <button class="btn">
        <mat-icon svgIcon="twitter">
        </mat-icon>
    </button>
    <button class="btn">
        <mat-icon svgIcon="linkedin">
        </mat-icon>
    </button>
    <button class="btn">
        <mat-icon svgIcon="github">
        </mat-icon>
    </button>
    <button class="btn">
        <mat-icon svgIcon="stackoverflow">
        </mat-icon>
    </button>
</ng-template>