<section data-aos="fade-up" data-aos-duration="2000" data-aos-ease="ease-in-out"
    class="lg:p-16 text-center sm:text-left sm:block sm:prose-h3:mt-0 lg:prose-mt-0 xl:prose-h3:mt-0 2xl:prose-h3:mt-0 prose-h3:mt-0 prose sm:prose-sm lg:prose-lg xl:prose-xl 2xl:prose-2xl max-w-full">
    <h1 class="hidden sm:block text-center">{{title}}</h1>
    <div class="container max-w-full sm:px-4 sm:py-12 mx-auto" *ngFor="let job of jobs">
        <div class="grid gap-4 mx-4 sm:grid-cols-12">
            <div class="col-span-12 sm:col-span-3">
                <div data-aos="fade-up" data-aos-duration="2000" data-aos-ease="ease-in-out"
                    class="text-center sm:text-left mb-14 before:block before:w-24 before:h-3 before:mb-5 before:rounded-md before:mx-auto sm:before:mx-0">
                    <img style="margin:0" [src]="job.image">
                    <p style="margin-bottom: 0;"
                        class="sm:text-start text-center text-sm font-proximanovabold tracking-wider uppercase dark:text-gray-800">
                        {{experienceFromToInWords(job.from, job.to)}}</p>
                    <p style="margin:0"
                        class="sm:text-start text-center text-xs font-proximanovabold tracking-wider dark:text-gray-400">
                        {{totalExperienceInWords(job.from, job.to)}}</p>
                </div>
            </div>
            <app-timeline-sub class="relative col-span-12 px-4 space-y-6 sm:col-span-9"
                [roles]="job.roles"></app-timeline-sub>
        </div>
    </div>
</section>