<app-progress-bar title="TypeScript" icon="ts" [value]="100"></app-progress-bar>
<app-progress-bar title="Angular" icon="angular" [value]="100"></app-progress-bar>
<app-progress-bar title="Angular Material" icon="material" [value]="90"></app-progress-bar>
<app-progress-bar title="HTML 5" icon="html" [value]="90"></app-progress-bar>
<app-progress-bar title="CSS" icon="css" [value]="90"></app-progress-bar>
<app-progress-bar title="JavaScript" icon="js-color" [value]="90"></app-progress-bar>
<app-progress-bar title="KendoUI" icon="kendo" [value]="90"></app-progress-bar>