<div class="flex flex-1 flex-col">
    <div class="flex flex-1 sm:flex-row flex-col flex-wrap">
        <div class="flex flex-1 justify-center items-center">
            <article data-aos="fade-right" data-aos-duration="1000"
                class="p-4 sm:p-16 prose prose-sm prose-h1:font-semibold prose-h1:text-7xl sm:prose-h1:text-9xl lg:prose-h1:text-9xl xl:prose-h1:text-9xl 2xl:prose-h1:text-9xl sm:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl mx-auto">
                <h1 style="margin: 0;">about.</h1>
                <h4>Full-stack engineer based in Gurgaon, India.</h4>
                <p>Since 2015, I've enjoyed turning complex problems into simple,
                    beautiful and
                    intuitive
                    code. When I'm not writing code, you'll find me cooking, gardening or working out in the park.</p>
            </article>
        </div>
        <div class="flex flex-1 justify-center items-center min-w-[360px]">
            <app-avatar data-aos="fade-left" data-aos-duration="1000"></app-avatar>
        </div>
    </div>
    <app-chevron class="hidden sm:flex animate-bounce"></app-chevron>
</div>