<div class="flex flex-1 lg:flex-row flex-col flex-wrap">
    <div class="flex lg:flex-1 justify-center items-center">
        <article data-aos="fade-right" data-aos-duration="1000"
            class="p-4 lg:p-16 prose prose-sm prose-h1:font-proximanovabold prose-h1:tracking-tighter prose-h1:text-8xl sm:prose-h1:text-8xl lg:prose-h1:text-8xl xl:prose-h1:text-8xl 2xl:prose-h1:text-8xl sm:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl mx-auto">
            <h1 style="margin: 0">about.</h1>
            <h4>Full-stack engineer based in Gurgaon, India.</h4>
            <p>Since 2015, I've enjoyed turning complex problems into simple,
                beautiful and
                intuitive
                code. When I'm not writing code, you'll find me cooking, gardening or working out in the park.</p>
        </article>
    </div>
    <div class="flex min-w-[2rem]">
        <app-chevron class="hidden lg:block absolute left-1/2 top-[90%]"></app-chevron>
    </div>
    <div class="flex flex-1 items-center justify-center" data-aos="fade-left" data-aos-duration="1000">
        <img class="absolute max-h-full lg:max-w-full" src="../../assets/img/image-2-small.png">
    </div>
</div>
