<section class="introduction">
    <div [ngClass]="(isScreenBig$ | async) ? 'grid-layout-row' : 'grid-layout-column'">
        <div class="item-1">
            <div class="content">
                <p class="mat-headline-1">about.</p>
                <p class="mat-headline-5">Full-stack engineer based in Gurgaon, India.</p>
                <p class="mat-body-1" style="margin: 0;">Since 2015, I've enjoyed turning complex problems into simple, beautiful and
                    intuitive
                    code. When I'm not writing code, you'll find me cooking, gardening or working out in the park.</p>
            </div>
        </div>
        <div class="item-2">
            <app-avatar></app-avatar>
        </div>
    </div>
</section>
<app-chevron></app-chevron>