<div class="icons-container">
    <button mat-stroked-button color="primary" routerLinkActive="active" routerLink="frontend">
        <mat-icon svgIcon="js">
        </mat-icon>
        Frontend
    </button>
    <button mat-stroked-button color="primary" routerLinkActive="active" routerLink="backend">
        <mat-icon svgIcon="server">
        </mat-icon>
        Backend
    </button>
    <button mat-stroked-button color="primary" routerLinkActive="active" routerLink="cloud">
        <mat-icon svgIcon="cloud">
        </mat-icon>
        Cloud
    </button>
    <button mat-stroked-button color="primary" routerLinkActive="active" routerLink="database">
        <mat-icon svgIcon="db">
        </mat-icon>
        Database
    </button>
    <button mat-stroked-button color="primary" routerLinkActive="active" routerLink="de">
        <mat-icon svgIcon="de">
        </mat-icon>
        Big Data
    </button>
    <button mat-stroked-button color="primary" routerLinkActive="active" routerLink="tools">
        <mat-icon>
            construction
        </mat-icon>
        Tools
    </button>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>