<div class="flex flex-col">
    <header>
        <app-navbar></app-navbar>
    </header>
    <div class="flex-1 flex flex-col lg:flex-row">
        <main class="flex-1 flex flex-col">
            <div class="lg:border border-gray-200 lg:rounded-lg banner-container mt-4 mb-8 lg:shadow-lg flex flex-1">
                <app-banner class="flex flex-1 flex-col lg:h-screen"></app-banner>
            </div>
            <app-skills-new id="skills"
                class="lg:border border-gray-200 lg:rounded-lg flex flex-1 flex-col mb-8 mt-8 lg:shadow-lg"></app-skills-new>
            <app-experience id="experience"
                class="lg:border border-gray-200 lg:rounded-lg flex flex-1 justify-center mb-8 mt-8 lg:shadow-lg"></app-experience>
            <app-education id="education"
                class="lg:border border-gray-200 lg:rounded-lg flex flex-1 justify-center mb-8 mt-8 lg:shadow-lg"></app-education>
        </main>
        <nav class="order-first lg:w-32 lg:block hidden"></nav>
        <aside class="sm:w-32 lg:block hidden"></aside>
    </div>
    <footer>
        <div class="lg:flex lg:flex-1 lg:w-full mt-10" data-aos="fade-up" data-aos-ease="ease-in-out" data-aos-duration="3000">
            <div class="flex p-2 lg:flex-1 lg:justify-center items-center">
                <span class="material-symbols-outlined">
                    call
                </span>
                <p>+91 - 9891136744</p>
            </div>
            <div class="flex p-2 lg:flex-1 lg:justify-center items-center">
                <span class="material-symbols-outlined">
                    mail
                </span>
                <p>tushar.yadav7@gmail.com</p>
            </div>
            <div class="flex p-2 lg:flex-1 lg:justify-center items-center">
                <span class="material-symbols-outlined">
                    location_on
                </span>
                <p>Gurugram, Haryana. India</p>
            </div>
            <div class="flex p-2 lg:flex-1 lg:justify-center items-center">
                <mat-icon class="mx-4 text-blue-500" svgIcon="linkedin">
                </mat-icon>
                <p>@tushar-yadav7</p>
            </div>
        </div>
        <div class="p-2 lg:flex lg:flex-1 w-full mt-20 mb-10 flex items-center justify-center flex-col" data-aos="fade-up" data-aos-ease="ease-in-out" data-aos-duration="3000">
            <div>
                <p class="text-sm tracking-wide font-proximanovasemibold text-gray-600">Designed & Built with <span class="text-pink-800">&#x2764;</span>
                    by Tushar! &#x00A9;&#xFE0F; 2023
            </div>
            <div class="p-2 flex flex-1 items-center justify-center">
                <p class="text-sm font-proximanovasemibold">Built using</p>&nbsp;
                <mat-icon class="text-sm text-blue-500" svgIcon="angular"></mat-icon>&nbsp;
                <mat-icon class="text-sm text-blue-500" svgIcon="reactive"></mat-icon>&nbsp;
                <mat-icon class="text-sm text-blue-500" svgIcon="ts"></mat-icon> &nbsp;
                <mat-icon class="text-sm text-blue-500" svgIcon="tailwind"></mat-icon>&nbsp;
                <mat-icon class="text-sm text-blue-500" svgIcon="html"></mat-icon>&nbsp;
                <mat-icon class="text-sm text-blue-500" svgIcon="css"></mat-icon>&nbsp;
                <mat-icon svgIcon="github"></mat-icon>&nbsp;
            </div>
            <div>
                <p class="text-sm font-proximanovasemibold">v 1.0.0</p>
            </div>
        </div>
    </footer>
</div>