<div class="min-h-screen flex flex-col">
    <header>
        <app-navbar></app-navbar>
    </header>
    <div class="flex-1 flex flex-col sm:flex-row">
        <main class="flex-1 flex flex-col">
            <div class="banner-container flex flex-1">
                <app-banner class="flex flex-1 h-screen"></app-banner>
            </div>
            <app-skills-new class="flex flex-1 background-color"></app-skills-new>
        </main>
        <nav class="order-first sm:w-32 sm:block hidden bg-amber-800"></nav>
        <aside class="sm:w-32 sm:block hidden bg-purple-300"></aside>
    </div>
    <footer class="bg-gray-100">Footer</footer>
</div>