<div class="min-h-screen flex flex-col">
    <header>
        <app-navbar></app-navbar>
    </header>
    <div class="main-container">
        <main class="flex-1 flex">
            <app-banner class="flex flex-1">
            </app-banner>
        </main>
        <nav class="order-first sm:w-32 sm:block hidden"></nav>
        <aside class="sm:w-32 sm:block hidden "></aside>
    </div>
    <!-- <div class="flex flex-1">
        <app-skills-new data-aos="fade-left" data-aos-duration="1000"></app-skills-new>
    </div> -->
    <footer class="bg-gray-100">Footer</footer>
</div>