<div class="flex justify-between p-2 flex-col lg:flex-row" data-aos="fade-in" data-aos-duration="2000" data-aos-ease="ease-in-out">
    <div class="flex flex-1">
        <div class="frontend-img-container">
            <span>Angular</span>
            <img src="../../assets/img/angular.svg">
            <app-progress-bar class="p-1 w-full" [value]="90"></app-progress-bar>
        </div>
        <div class="frontend-img-container">
            <span>TypeScript</span>
            <img src="../../assets/img/ts.svg">
            <app-progress-bar class="p-1 w-full" [value]="90"></app-progress-bar>
        </div>
        <div class="frontend-img-container">
            <span>RxJS</span>
            <img src="../../assets/img/reactive.svg">
            <app-progress-bar class="p-1 w-full" [value]="90"></app-progress-bar>
        </div>
        <div class="frontend-img-container">
            <span>HTML 5</span>
            <img src="../../assets/img/html.svg">
            <app-progress-bar class="p-1 w-full" [value]="100"></app-progress-bar>
        </div>
        <div class="frontend-img-container">
            <span>CSS 3</span>
            <img src="../../assets/img/css.svg">
            <app-progress-bar class="p-1 w-full" [value]="90"></app-progress-bar>
        </div>
    </div>
    <div class="flex flex-1">
        <div class="frontend-img-container">
            <span>JavaScript</span>
            <img src="../../assets/img/js-color.svg">
            <app-progress-bar class="p-1 w-full" [value]="90"></app-progress-bar>
        </div>
        <div class="frontend-img-container">
            <span>tailwind</span>
            <img src="../../assets/img/tailwind.svg">
            <app-progress-bar class="p-1 w-full" [value]="80"></app-progress-bar>
        </div>
        <div class="frontend-img-container">
            <span>Jira</span>
            <img src="../../assets/img/jira.svg">
            <app-progress-bar class="p-1 w-full" [value]="80"></app-progress-bar>
        </div>
        <div class="frontend-img-container">
            <span>Material</span>
            <img src="../../assets/img/material.svg">
            <app-progress-bar class="p-1 w-full" [value]="80"></app-progress-bar>
        </div>
        <div class="frontend-img-container">
            <span>Kendo</span>
            <img src="../../assets/img/kendo.svg">
            <app-progress-bar class="p-1 w-full" [value]="80"></app-progress-bar>
        </div>
    </div>
</div>
<div
    class="max-w-full flex flex-1 flex-col lg:flex-row p-2 prose prose-sm sm:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl">
    <section class="w-full flex justify-center p-2 lg:p-8" data-aos="fade-right" data-aos-duration="2000" data-aos-ease="ease-in-out">
        <ul style="padding:0">
            <h3 class="text-center text-2xl font-proximanovalight">Frontend</h3>
            <li>
                UI / UX Design
            </li>
            <li>
                Interaction Design
            </li>
            <li class="font-proximanovasemibold">
                "Making it pop"
            </li>
            <li>
                Framework expert
            </li>
            <li>
                TypeScript / JavaScript
            </li>
            <li>
                can center a div "without googling"
            </li>
            <li>
                HTML / CSS / loves "tailwind"
            </li>
        </ul>
    </section>
    <div class="relative w-full lg:h-full min-h-[12rem]">
        <div
            class="absolute w-[-moz-available] lg:overflow-visible top-1/2 left-1/2 lg:w-full lg:transform -translate-y-1/2 -translate-x-1/2 h-full lg:h-auto m-auto">
            <img style="margin:0" class="relative top-0 transform scale-105 h-full lg:w-full" data-aos="zoom-in"
                 data-aos-duration="1000" data-aos-ease="ease-in-out" src="../../assets/img/pie-1.svg">
            <img style="margin:0" class="absolute top-0 slide-left h-full lg:w-full" data-aos="zoom-out"
                 data-aos-duration="1000" data-aos-ease="ease-in-out" src="../../assets/img/pie-2.svg">
        </div>
    </div>
    <section class="w-full flex p-2 lg:p-8 justify-center" data-aos="fade-left" data-aos-duration="2000" data-aos-ease="ease-in-out">
        <ul style="padding:0">
            <h3 class="text-center text-2xl font-proximanovalight">Backend</h3>
            <li>
                Java / J2EE expert
            </li>
            <li>
                System Design
            </li>
            <li>
                Microservices with Spring
            </li>
            <li>
                Big data using spark (kinda)
            </li>
            <li>
                Docker
            </li>
            <li>
                Kubernetes
            </li>
            <li>
                SQL and NoSQL
            </li>
        </ul>
    </section>
</div>
<div class="flex justify-around p-2 flex-col lg:flex-row" data-aos="fade-in" data-aos-duration="2000" data-aos-ease="ease-in-out">
    <div class="flex flex-1">
        <div class="frontend-img-container">
            <span>Java</span>
            <img src="../../assets/img/java.svg">
            <app-progress-bar class="p-1 w-full" [value]="90"></app-progress-bar>
        </div>
        <div class="frontend-img-container">
            <span>Spring</span>
            <img src="../../assets/img/spring.svg">
            <app-progress-bar class="p-1 w-full" [value]="80"></app-progress-bar>
        </div>
        <div class="frontend-img-container">
            <span>JPA</span>
            <img src="../../assets/img/hibernate.svg">
            <app-progress-bar class="p-1 w-full" [value]="70"></app-progress-bar>
        </div>
        <div class="frontend-img-container">
            <span>Git</span>
            <img src="../../assets/img/git.svg">
            <app-progress-bar class="p-1 w-full" [value]="70"></app-progress-bar>
        </div>
        <div class="frontend-img-container">
            <span>Docker</span>
            <img src="../../assets/img/docker.svg">
            <app-progress-bar class="p-1 w-full" [value]="80"></app-progress-bar>
        </div>
    </div>
    <div class="flex flex-1">
        <div class="frontend-img-container">
            <span>k8's</span>
            <img src="../../assets/img/kubernetes.svg">
            <app-progress-bar class="p-1 w-full" [value]="70"></app-progress-bar>
        </div>
        <div class="frontend-img-container">
            <span>SQL</span>
            <img src="../../assets/img/postgre.svg">
            <app-progress-bar class="p-1 w-full" [value]="90"></app-progress-bar>
        </div>
        <div class="frontend-img-container">
            <span>Mongo</span>
            <img src="../../assets/img/mongo.svg">
            <app-progress-bar class="p-1 w-full" [value]="70"></app-progress-bar>
        </div>
        <div class="frontend-img-container">
            <span>Redis</span>
            <img src="../../assets/img/redis.svg">
            <app-progress-bar class="p-1 w-full" [value]="70"></app-progress-bar>
        </div>
        <div class="frontend-img-container">
            <span>Kafka</span>
            <img src="../../assets/img/kafka.svg">
            <app-progress-bar class="p-1 w-full" [value]="60"></app-progress-bar>
        </div>
    </div>
</div>