<section>
    <div class="grid-layout-row">
        <div class="item-1">
            <p class="mat-headline-4">Part front-end</p>
            <ul>
                <li>
                    <mat-icon svgIcon="angular"></mat-icon>
                    <p class="mat-body-1">ngular</p>
                </li>
                <li>
                    <p class="mat-body-1">HTML</p><mat-icon svgIcon="html"></mat-icon>
                    <p class="mat-body-1">/CSS </p><mat-icon svgIcon="css"></mat-icon>
                </li>
                <li>
                    <p class="mat-body-1">"Making it pop"
                </li>
                <li>
                    <mat-icon svgIcon="material"></mat-icon>
                    <p class="mat-body-1">Material Design</p>
                </li>
                <li>
                    <mat-icon svgIcon="reactive"></mat-icon>&nbsp;<p class="mat-body-1">RxJS</p>
                </li>

                <li>
                    <p class="mat-body-1">Centering a div
                </li>
                <li>
                    <mat-icon svgIcon="kendo"></mat-icon>&nbsp;<p class="mat-body-1">KendoUI</p>
                </li>
            </ul>
        </div>
        <div class="item-2">
            <img src="../../assets/img/pienew.png">
        </div>
        <div class="item-3">
            <p class="mat-headline-4">Part back-end</p>
            <ul>
                <li>
                    <mat-icon svgIcon="java"></mat-icon>
                    <p class="mat-body-1">Java/J2EE</p>
                </li>
                <li>
                    <mat-icon svgIcon="spring"></mat-icon>
                    <p class="mat-body-1">Spring</p>
                </li>
                <li>
                    <mat-icon svgIcon="hibernate"></mat-icon>
                    <p class="mat-body-1">Hibernate</p>
                </li>
                <li>
                    <p class="mat-body-1">Big Data using</p> <mat-icon style= "width: 50px" svgIcon="spark"></mat-icon> (kinda)
                </li>
                <li>
                    <mat-icon svgIcon="docker"></mat-icon>&nbsp;
                    <p class="mat-body-1">Docker</p>
                </li>
                <li>
                    <mat-icon svgIcon="kubernetes"></mat-icon>&nbsp;
                    <p class="mat-body-1">Kubernetes</p>
                </li>
                <li>
                    <mat-icon svgIcon="sql"></mat-icon>&nbsp;
                    <p class="mat-body-1">SQL and NoSQL</p>
                </li>
            </ul>
        </div>
    </div>
</section>